.graph {
   font-family: var(--font-number);
   align-self: center;
   padding: 2rem 4rem;
   display: flex;
   flex-direction: column;
   gap: 5rem;
   align-items: center;
   box-shadow: var(--shadow-out);

   @media only screen and (max-width: 43em) {
      padding: 3rem;
      grid-column: 1 / -1;
   }

   @media only screen and (max-width: 37.5em) {
      padding: 1.5rem;
   }

   &__label {
      font-family: var(--font-text);
   }
}