.sidebar {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 3rem;
   box-shadow: var(--shadow-out);

   @media only screen and (max-width: 72.5em) {
      position: fixed;
      inset: 0 0 0 45%;
      background-color: var(--color-background);
      z-index: 8000;

      transform: translateX(100%);
      transition: transform 0.5s ease-out;
   }

   &__close {
      transform: translateX(0);
   }

   &__toggler {
      position: fixed;
      bottom: 3rem;
      right: 3rem;
      z-index: 8010;
      display: none;

      background: none;
      border: none;
      padding: 1.2rem 1.4rem;
      border-radius: 1rem;
      background-color: var(--color-background);
      box-shadow: var(--shadow-out);

      &:focus {
         outline: none;
         border: 1px solid var(--color-text);
      }

      @media only screen and (max-width: 72.5em) {
         display: flex;
         align-items: center;
         justify-content: center;
      }

      & svg {
         height: 4rem;
         width: 4rem;
      }
   }
}

.nav {
   display: grid;
   grid-gap: 1.7rem;

   @media only screen and (max-width: 72.5em) {
      justify-items: start;
   }

   &__link {
      text-decoration: none;
      padding: 1rem 5rem;
      padding-left: 2rem;
      border-radius: 1rem;
      letter-spacing: -1px;

      display: flex;
      gap: 2rem;
      align-items: center;
   }

   &__logo {
      font-weight: 800;
      text-align: center;
      font-size: 2.5rem;

      @media only screen and (max-width: 72.5em) {
         display: none;
      }
   }
}